html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
.dhxlist_obj_dhx_skyblue label {
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
}
.dhxlist_obj_dhx_skyblue .dhxlist_txt_textarea, input.dhtmlx_validation_error {
	border: 1px solid #A4BED4;
	padding: 1px 0;
	font-size: 11px;
	font-family: Tahoma;
}
.btn, span {
	font-size: 11px;
	font-family: Tahoma;
}
#loginObj {
	display: block;
	margin: 0 auto;
	margin-top: 150px;
	width: 300px;
}
#loginObj input[type="text"], #loginObj input[type="password"] {
	width: 180px;
}
#loginObj input[type="button"] {
	padding: 3px 15px;
}
#loginObj > div.inputs > label{
  float:left;
  margin:5px;
}
#loginObj > div.inputs > input[type="text"],#loginObj > div.inputs > input[type="password"]{
  float:right;
  margin:5px;
}
#loginObj > div.submit,#loginObj > span {
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0;  
}
iframe.submit_iframe {
	position: absolute;
	width: 1px;
	height: 1px;
	left: -100px;
	top: -100px;
	font-size: 1px;
}
.datefrom,.dateto{
  max-width:120px;
  margin:2px;
  font-size:8pt;
  font-family:Tahoma;
  -moz-user-select:text;
}
div.gridbox_dhx_web.gridbox table.hdr td div.hdrcell{
  padding-right: 5px;
}
.objbox{
  overflow-x: hidden !important; 
}
.dhx_toolbar_poly_material{
  height: 300px !important; 
  bottom: 40px !important;
  top: auto !important;
  width: 125px !important;
}
div[id*='pagingArea_']{
  box-shadow:none !important;
}